section {
    border: 1px solid darkgray;
    background-color: lightgray;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 20px;
}

section h3 {
    cursor: pointer;
}

section a {
    background-color: red;
    border: 1px solid darkred;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #2a3133;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

section div {
    background-color: slategray;
    padding: 5px;
    margin-bottom: 25px;
}

.hidden {
    display: none;                
}

form {
    padding-bottom: 20px;
}
