section {
    border: 1px solid darkgray;
    background-color: lightgray;
    margin-bottom: 5px;
    padding: 10px;
}

section h3 {
    cursor: pointer;
}

section a {
    color: red;
}

section div {
    background-color: slategray;
    padding: 5px;
    margin-bottom: 15px;
}

.hidden {
    display: none;                
}

form {
    padding-bottom: 20px;
}
